@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Outfit:wght@100..900&display=swap");
@import url("header.css");
@import url("main.css");



:root {
    --dark-blue: #0B3954;
    --medium-blue: #126586;
    --light-blue: #3FB2CA;
    --dark-orange: #FE5F01;
    --light-orange: #FD9701;
    --dark-red: #540B0E;
    --light-red: #9E2A2B;
    --white: #FFFDF5;

    --fonte-primaria: Anton;
    --fonte-secundaria: Outfit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


