footer{
    background-color: var(--light-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

a, .footer-copyright{
    color: var(--white);
}

ul{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    gap: 2rem;
    font-size: 2.5rem;
}

a:hover{
    color: var(--light-orange);
}
